* {
   /* width:800px; */
   /* width:480px; */
   margin: 0px;
   padding: 0px;
}

body {
	color:#000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:0.8vw;
	background-color: white;
}

body a, body a:visited{
	color:#006699;
	text-decoration: none;
}

body a:hover {
	color:#0099cc;
	text-decoration: none;
}

#wrap {
	margin-right:auto;
    margin-left:auto;
	width:800px;
	height:480px;
	background-color:#6699ff;

}

#title {
	height:35px;
  padding-bottom: 5px;
	color:#fff;
	font-size:26px;
}

#supplier {
	width:200px;
	height:420px;
	float:left;
	padding:20px;
}

#power, #usage {
	width:480px;
	float:left;
	padding:20px;
}

#power {
	height:140px;

}

#usage {
	height:220px;
}
#usage_sub {
	width:170px;
	padding:10px;
	float:left;
	font-size:40px;
	color:#fff;
	text-align:right;
}

#title_sub {
	height:20px;
	color:#fff;
	font-size:20px;
	text-align:left;

}

#logo{
	width:100px;
	float:left;
	text-align:right;
	vertical-align:bottom;
}

#image1 {
width:200px;
padding-bottom:20px;
}

#image2 {
width:135px;
padding-right:20px;
}

#image3 {
width:90px;
padding-top:60px;

}
